body {
  background: #42f4f4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "advert header ."
    ". content ."
    ". content .";
}

h1 {
  text-align: center;

}

.form {

  background-color: white;
  grid-area: content;
/*   grid-templates-columns: 1fr 1fr;
  grid-templates-rows: repeat(10, 1fr); */

}

#p1 {
  text-align: center;
}

#p2, #p3{
  margin-left: 400px;
  margin-bottom: 10px;
}

#p4 {
  margin-left: 400px;
  margin-bottom: 10px;
}

#p4_age {
  margin-right: 22px;
}
#p5 {
  margin-left: 158px;
  margin-bottom: 10px;
}

#p5_lab {
  margin-right: 8px;
}
label {
  margin-right: 10px;
}

#p6_l {

  margin-left: 5px;
}

#r_2, #r_3 {
  margin-left: 475px;
}

#q {

  margin-left: 250px;
  margin-right: 20px;
}

#select_fcc {
  margin-top: 20px;
  margin-bottom: 10px;
}

#prov {
  margin-left: 460px;
  margin-bottom: 10px;
}
#p8 {
  margin-left: 10px;
}
#p9 {
  display: flex;
  margin-bottom:10px;
}

#p9_p {
  margin-left: 250px;
  margin-right: 20px;
}

#txta {
  margin-top: 15px;
}

.sbmt {
  margin: auto 500px;
}

button {
  background-color: #41a6f4;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
